/* Import, Install, etc. Open Props */
@import "https://unpkg.com/open-props";

/* Import Fontshare Edges */
@import "open-props/masks/edges";
@import "open-props/src/props.masks.edges.css";
@import "open-props/masks.edges.min.css";
@import "https://unpkg.com/open-props/masks.edges.min.css";
@import "open-props/masks/corner-cuts";

/* Import of OpenProps Colors */
@import "open-props/colors-hsl";

/* Import of Font Share */
@import "fonts/Boska-Light.eot";


/* Content Styling */
body{
  background: var(--gradient-3);
  height: 100vh;
  }

/* Main Container */
main {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 32px;
  -webkit-mask: var(--mask-edge-drip-horizontal);
}

/* audio controls */
audio {
  width: 100%;
  animation: var(--animation-float);
}

/* Title Styling */
h1 a {
  font-family: var(--font-sans); 
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}

/* Lyrics Styling */
figure {
  font-family: var(--font-sans);
  color: white;
  text-align: center;
  text-decoration: none;
}
