/* Import, Install, etc. Open Props */
@import "https://unpkg.com/open-props";

/* Import of OpenProps Colors */
@import "open-props/colors-hsl";

/* Import of Font Share */
@import "fonts/Boska-Light.eot";


/* Content Styling */
body{
  background: var(--gradient-3);
  height: 100vh;
  }

/* Main Container */
main {
  width: 800px;
  margin: 0 auto 0 auto;
  padding: 32px;
}

/* audio controls */
audio {
  width: 100%;
}

/* Title Styling */
h1 a {
  font-family: "Quicksand";
  color: rgb(20, 19, 19);
  text-decoration: none;
  text-align: center;
}

/* Lyrics Styling */
figure {
  font-family: "Quicksand";
  color: white;
  text-align: center;
  text-decoration: none;
}
